body {
    font-size: 14px;
    a {
        color: #fff;
        font-size: 18px;
        span {
            font-size: 20px;
        }
    }
}

.box {
    width: 100px;
    height: 100px;
    background: url(../img/nav_img1.png) no-repeat;
}

.box2 {
    width: 100px;
    height: 100px;
    background: url(../img/nav_img2.png) no-repeat;
}

.box3 {
    width: 100px;
    height: 100px;
    background: url(../img/nav_img3.png) no-repeat;
}

.box4 {
    width: 100px;
    height: 100px;
    background: url(../img/hardwareDetailsBanner.jpg) no-repeat;
}
.box5 {
    width: 100px;
    height: 100px;
    background: url(../img/IPIndexBanner.jpg) no-repeat;
}
.box6{
    background: url(../img/joinUs1.png)
}